<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" style="width: 80%">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <a href="/sender">新建邮件</a>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table">
                <thead>
                <tr>
                    <th>发件人</th>
                    <th>主题</th>
                    <th>时间</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody id="content">
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p>发件人：<span id="sender"></span></p>
                        <p>收件人：<span id="addressee"></span></p>
                        <p>抄送：<span id="cc"></span></p>
                        <p id="enclosure" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;width: 100%;padding: 5px"></p>
                    </div>
                    <div id="contents">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="hideModal()">关闭
                    </button>
                    <!--<button type="button" class="btn btn-primary">-->
                    <!--提交更改-->
                    <!--</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script type="text/javascript">
    //获取所有的邮件
    $(function () {
        $.ajax({
            type: "get",
            url: "/show",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var html = "";
                if (data != null) {
                    $.each(data.data, function (index, item) {
                        html += '<tr onclick="readEmail(' + index + ')">';
                        html += '<td>' + item.sender + '<input type="hidden" id="id' + index + '" value="' + item.id + '" />' +
                            '<input type="hidden" id="addressee' + index + '" value="' + item.addressee + '" />' +
                            '<input type="hidden" id="cc' + index + '" value="' + item.cc + '" />' +
                            '<input type="hidden" id="sender' + index + '" value="' + item.sender + '" />' +
                            '<input type="hidden" id="subject' + index + '" value="' + item.subject + '" /></td>';
                        html += "<td>" + item.subject + "</td>";
                        html += "<td>" + item.dateTimeReceived + "</td>";
                        if (item.isRead == true) {
                            html += "<td>已读</td>";
                        } else {
                            html += "<td>未读</td>";
                        }
                        html += "</tr>";
                    });
                    $("#content").html(html);
                } else {
                    alert(data.msg);
                }
            }
        });
    });

    //获取邮件详情
    function readEmail(index) {
        $("#cc").text($("#cc" + index).val());
        $("#myModalLabel").text($("#subject" + index).val());
        $("#addressee").text($("#addressee" + index).val());
        $("#sender").text($("#sender" + index).val());
        $('#myModal').modal({
            backdrop: 'static'
        });
        $.ajax({
            type: "post",
            url: "/read",
            data: {id: $("#id" + index).val()},
            success: function (data) {
                // alert(JSON.stringify(data));
                console.log(data);
                if (data.data != null) {
                    var html = "";
                    $("#contents").html(data.data.content);
                    html +="附件：";
                    $.each(data.data.enclosureList, function (index, item1) {
                        html +='<span><a href="/download?fileName='+item1.fileName+'">'+item1.fileName+'</a></span>';
                    });
                    $("#enclosure").html(html);
                }
            }
        });
    }
    function download() {
        $.ajax({
            type: "post",
            url: "/read",
            data: {id: $("#id" + index).val()},
            success: function (data) {
                // alert(JSON.stringify(data));
                console.log(data);
                if (data.data != null) {
                    var html = "";
                    $("#contents").html(data.data.content);
                    html +="附件：";
                    $.each(data.data.enclosureList, function (index, item1) {
                        html +='<span><a href="/download">'+item1.fileName+'</a></span>';
                    });
                    $("#enclosure").html(html);
                }
            }
        });
    }
    //关闭模态框并清空数据
    function hideModal() {
        $('#myModal').modal('hide');
        $("#contents").empty();
        $("#enclosure").empty();
    }


</script>
</body>
</html>