<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-412838">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#panel-410012" data-toggle="tab">Section 1</a>
                    </li>
                    <li class="active">
                        <a href="#panel-699741" data-toggle="tab">Section 2</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="panel-410012">
                        <p>
                            I'm in Section 3.
                        </p>
                    </div>
                    <div class="tab-pane active" id="panel-699741">
                        <p>
                            Howdy, I'm in Section 2.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>