<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>发邮件</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form id="form">
                <div class="form-group">
                    <label>收件人：</label><input class="form-control" name="addressee" id="addressee"  type="email" />
                </div>
                <div class="form-group">
                    <label>抄送人：</label><input class="form-control" name="cc" id="cc" type="email" />
                </div>
                <div class="form-group">
                    <label>主题：</label><input class="form-control" name="subject" id="subject" type="text" />
                </div>
                <div class="form-group">
                    <label>文件：</label><input class="form-control" name="file" id="file" type="file" />
                </div>
                <div class="form-group">
                    <label>内容：</label><textarea class="form-control" name="content" id="content" rows="3"></textarea>
                </div>
            </form>
            <button class="btn btn-default" onclick="send()">发送</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function send() {
        var formData = new FormData();
        var inputFile = $('#form').find('input[name="file"]')[0].files[0];
        formData.append('addressee', $("#addressee").val());
        formData.append('subject', $("#subject").val());
        formData.append('cc', $("#cc").val());
        formData.append('content', $("#content").val());
        // formData.append('comments', $("#addressee").val());
        if (typeof(inputFile) != "undefined"){
            formData.append('file', inputFile);
        }
        $.ajax({
            type: 'POST',
            url: "/sendEmail",
            data: formData,
            timeout: 600000,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                if (data.code=="200") {
                    alert("发送成功");
                    $('#form').trigger("reset").find("select").trigger('change');
                }
            }
        });
    }

</script>
</body>
</html>